body {
    background-color: #c5c6c7;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

header {
    background-color: #3e006a;
    color: #F0EAD6;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display:flex;
    justify-content: center;
   
}

nav li{
    margin: 0 20px;
   
}

nav a {
    text-decoration: none;
    color: #F0EAD6;
}

h1 {
    font-size: 2.5em;
    color: #786F80;
    font-family: cursive;
    text-align: center;
    text-decoration: underline;
}

h2 {
    color: #786F80;
    text-align: center;
}

p {
    color: #786F80;
    text-align: center;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #3e006a;
    color: #F0EAD6;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-width: medium;
}

pre {
    tab-size: 8;
    font-family: Arial, sans-serif;
}

.languages {
    margin-left: auto;
    margin-right: auto;
    display:flex;
    justify-content: center;
    text-decoration: none;
    list-style: none;
}

.software {
    margin-left: auto;
    margin-right: auto;
    display:flex;
    justify-content: center;
    list-style: none;
}

.squareMiscStuff {
    margin-left: auto;
    margin-right: auto;
    display:flex;
    justify-content: center;
    list-style: none;
}

